<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyFavBank</title>
    {{!-- GOOGLE FONTS --}}
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
    {{!-- BOOTSTRAP --}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
</head>
<body>
    {{> navigation}} 

    {{#if success}}
    <div class="alert alert-success" role="alert">
    {{success}}
    <button type="button" class="btn btn-simple" data-dismiss="alert">
    <span aria-hidden="true">&times;</span>
    </button>
    </div>
    {{/if}}
    {{#if failure}}
    <div class="alert alert-danger" role="alert">
    {{failure}}
    <button type="button" class="btn btn-simple" data-dismiss="alert">
    <span aria-hidden="true">&times;</span>
    </button>
    </div>
    {{/if}}
    {{{body}}}
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>